/* REGOLE DI RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.container1000 {
    max-width: 1000px;
    margin:0 auto;
}

.container1100 {
    max-width: 1100px;
    margin:0 auto;
}

.container1200 {
    max-width: 1200px;
    margin:0 auto;
}


.inline-block {
    display: inline-block;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-right: 10px;
}

.text-align-center {
    text-align: center;
}

:root {
    --bg-blue: #0084FD;
    --color-blue: #0084fd;
    --bg-purple:  #9792e4;
    --color-purple: #9792e4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-small {
    max-width: 450px;
    margin: 0 auto;
}

.button {
    background-color:var(--bg-blue);
    color: white;
    padding: 6px 20px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
}

.button.white  {
    background-color: white;
    color: black;
}

.button.purple.download {
    background-color:var(--bg-purple);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    color: black;
}

.button.purple.more {
    background-color: var(--bg-purple);
}
/* REGOLE HEADER */
header {
    width: 100%;
    background-color: var(--bg-blue);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-container {
    align-items: center;
    justify-content: space-between;
}

.menu-desktop nav ul {
    text-decoration: none;

}

.menu-desktop nav ul li {
    display: inline-block;
    padding: 1.2rem 0.3rem;
}

.menu-desktop nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.header-container .logo {
    padding: 0.4rem 0;
}

.menu-mobile {
    color: white;
    display: none;
}

/* REGOLE MAIN */

/* regole intro  */
#intro {
    padding-top: 5.5rem;
    padding-bottom: 2rem;
}

#intro .cards-container {
    justify-content: space-between;
    flex-wrap:wrap;
    margin:0 -0.75rem;
    color: var(--color-blue);
}

#intro .cards-container .card {
    width: calc((100% / 3) - 1.5rem);
    background-color: #b5ddff;
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-radius: 20px;
}

#intro .cards-container .card.big {
    width: calc(((100% / 3) * 2) - 1.5rem);
    justify-content: center;
}

#intro .cards-container .cards-container:first-child > * {
    width: 50%;
}

.cards-container .card .card-big-image {
    align-items: flex-end;
}

.cards-container .card .card-big-image img {
    width: 70%;
}

#intro .cards-container .card:not(:first-child) {
    padding: 1.2rem;
}

#intro .cards-container .card:not(:first-child) h3 {
    padding: 1rem 0;
}

.card .card-big-text {
    padding: 1.2rem;
}

.card .card-big-text p {
    padding: 1.5rem 0;
}

.card  p {
    color: black;
}

/* regole planning */
#planning {
    background-color:var(--bg-purple);
    padding: 2rem 0;
}

#planning .planning-container {
    max-width: 750px;
    margin: 0 auto;
    align-items: flex-end;
}

#planning .left-column {
    width: 50%;
    padding: 1rem;
}

#planning .right-column {
    width: 50%;
    padding: 1rem;
}

#planning .left-column img {
    width: 100%;
}

#planning .left-column > * {
    color: white;
}

#planning .right-column img {
    width: 50%;
}

.right-column-content {
    background-color: white;
    border-radius: 30px;
    padding: 1.5rem;
}

.planning-container h3 {
    padding: 2rem 0;
}


/* regole testimonials */
#testimonials {
    padding: 2rem 0;
}

.review {
    background-color:var(--bg-purple);
    margin: 1.5rem 0;
}

.review-photo {
    width: 30%;
}

.review img {
    width: 100%;
}

/* regole benefit */
#benefit {
    padding: 2rem 0;
    background-color:var(--bg-purple);
    color: white;
}

#benefit .benefit-container {
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

.benefit-container .benefit {
    width: calc((100% / 3) - 1.5rem);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: white;
    color: var(--color-purple);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 20px;
}

/* regole about us */
#about .about-container {
    padding: 2rem;
}

.about-container .left-column {
    width: 80%;
    height: 300px;
    border: 1px dashed black;
}

.about-container .right-column {
    width: 20%;
    height: 300px;
    border: 1px dashed black;
}

/* regole get started */
#get-started {
    background-color:var(--bg-purple);
    height: 400px;
}

footer {
    background-color:#333333 ;
    height: 200px;
}




/* MEDIA QUERY */
/* MEDIUM */
@media screen and (max-width: 992px ) {
    
    .container {
        max-width: 750px;
    }

    /* header */
    .menu-desktop nav {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    /* intro */
    #intro .cards-container .card.big {
        flex-wrap: wrap;
    }
    
    #intro .cards-container .cards-container:first-child > * {
        width: 100%;
    }

    /* planning */
    #planning .left-column {
        width: 100%;
    }
    
    #planning .right-column {
        width: 100%;
    }

    #planning .planning-container {
        flex-wrap: wrap;
    }
}


/* SMALL */
@media screen and (max-width: 768px ) {
    
    .container {
        max-width: 600px;
    }

    /* intro */
    #intro .cards-container .card {
        width:100%
    }

    #intro .cards-container .card:first-child {
        width:100%;
    }
    
    .cards-container .card .card-big-image {
        justify-content: center;
    }
}
